{% extends 'index.html' %}
{% load youtube %}
{% block news %}
    <div id="news">
        <h2>{{ news.title }}</h2>
        <h6>Publicado em: {{ news.created_at|date:"l, d/N/Y, H:i" }}</h6>
        <p>{{ news.content|safe }}</p>
        {% for video in news.videos %}
            <p>{% youtube video.media_id %}</p>
        {% endfor %}
        <!-- AddThis Button BEGIN -->
    <h5 style="padding-top:10px;">Compartilhe essa notícia com seus amigos!</h5>
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ff728f00e4c675a"></script>
        <!-- AddThis Button END -->
    </div>

    <p style="border-bottom: 1px solid gray;padding-bottom: 40px;"><a class="btn pull-right" href="{% url homepage %}">&laquo; Voltar para o início</a></p></br>

    <h3 style="padding-top: 10px;">Comentários:</h3>
    <div id="comments">
        <div class="fb-comments" data-href="{% url news:news_detail news.slug %}" data-num-posts="4"></div>

    </div>
    <!--
    <div id="comments" style="border-top: 1px solid gray">
        <h3>Comentários:</h3>
        {% for comment in news.comments %}
            <h6>por {{ comment.name }} - {{ comment.created_at|date:"l, d/N/Y, H:i" }}</h6>
            <p>{{ comment.comment }}</p>
        {% empty %}
            <p> Não há comentários.</p>
        {% endfor %}
    </div>
    <div id="form" style="border-top: 1px solid gray">
        <form action="." method='POST' class='form'>
            {% csrf_token %}
            <p>
                {{ form.as_p }}
            </p>
            <button class="btn btn-primary" type="submit">
                Enviar!
            </button>
        </form>
    </div>
    -->
{% endblock news %}