<!DOCTYPE html>
<html lang="pt-br" xmlns:p="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Rosmari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Loja Rosmari">
    <meta name="author" content="Charles Sartori">
    <meta property="og:image" content="{{ STATIC_URL }}img/banner.png"/>
    <link rel="image_src" href="{{ STATIC_URL }}img/banner.png"/>

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/lightbox.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #ededed;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


    {% block navbar %}
    {% endblock navbar %}

    <div class="container">

        {% block carousel %}
        {% endblock carousel %}

        <!-- row of columns -->
        <div class="row">
            <div class="span9">
                {% block news %}
                {% endblock news %}
            </div>
            <div class="span3">
                {% block info %}
                {% endblock info %}
            </div>

            <div class="span12" style="border-top: 0.5px solid #a7a7a7;">
                {% block galeria %}
                {% endblock galeria %}
            </div>
            <div class="span6" style="border-top: 0.5px solid #a7a7a7;">
                {% block about %}
                {% endblock about %}
            </div>
            <div class="span6" style="border-top: 0.5px solid #a7a7a7;">
                {% block contact %}
                {% endblock contact %}
            </div>
        </div>


        <hr>

        <footer style="border-top: 0.5px solid #a7a7a7;padding-top: 5px;">
            <p>Desenvolvido por <a href="http://www.charlessartori.com" target="_blank">Charles Sartori</a> &copy; Rosmari 2012
                <a href="http://smallactsmanifesto.org" title="Small Acts Manifesto" target='_blank'><img src="http://smallactsmanifesto.org/media/images/smallacts-badge-80x15.png" style="border: none;" alt="Small Acts Manifesto" /></a>
                <a href="http://www.djangoproject.com/" target='_blank'><img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a>
            </p>
        </footer>



    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.smooth-scroll.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/lightbox.js"></script>

    <script>
        $('.carousel').carousel({
            interval: 3000
        })
        $('a').smoothScroll({
            speed: 1000,
            easing: 'easeInOutCubic'
        });
    </script>

  </body>
</html>
