{% extends "base.html" %}
{% load endless %}


<!-- Menu ------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------------->
{% block navbar %}
    <div class="navbar navbar-fixed-top" xmlns="http://www.w3.org/1999/html">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{% url homepage %}">Rosmari</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="#news">
                            <i class="icon-home icon-white"></i>
                            Notícias</a></li>
                        <li><a href="#galeria">
                            <i class="icon-camera icon-white"></i>
                            Galeria de Fotos</a></li>
                        <li><a href="#about">
                            <i class="icon-book icon-white"></i>
                            Sobre</a></li>
                        <li><a href="#contact">
                            <i class="icon-envelope icon-white"></i>
                            Contato</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
{% endblock navbar %}

{% block carousel %}
    <!-- Carousel ------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------------->
    <div class="row">
        <div class="span12">
            <div id="myCarousel" class="carousel slide" xmlns="http://www.w3.org/1999/html" style="border-bottom: 2px solid gray;padding-bottom: 5px;">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="{{ STATIC_URL }}img/banner.png" alt=""/>
                        <div class="carousel-caption">
                            <p>Rosmari</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ STATIC_URL }}img/img1.png" alt=""/>
                        <div class="carousel-caption">
                            <p>Moda Feminina</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ STATIC_URL }}img/img2.png" alt=""/>
                        <div class="carousel-caption">
                            <p>Moda Masculina</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ STATIC_URL }}img/img3.png" alt=""/>
                        <div class="carousel-caption">
                            <p>Moda Infantil</p>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Noticias --------------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------------->
{% block news %}
    <span id="news"></span>
    <h1 style="padding-top: 25px;padding-left: 3px;border-bottom: 3px solid #373737">Notícias</h1>

    <!-- News -->
    {% paginate 3 news using "noticias" %}
    {% for news in news %}
        <h2>{{ news.title }}</h2>
        <h6>Publicado em: {{ news.created_at|date:"l, d/N/Y, H:i" }}</h6>
        <p>{{ news.content|safe|truncatewords:25 }}</p>
        <p><a class="btn" href="{% url news:news_detail news.slug %}">Ver detalhes &raquo;</a></p>
    {% empty %}
        <p> Não há notícias.</p>
    {% endfor %}
    <div class="pager">
        {% show_pages %}
    </div>
{% endblock %}


<!-- Info Lateral ------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------------->
{% block info %}
    <div class="span3">
        <h2>Facebook</h2>
        <h4><a href="https://www.facebook.com/LojaRosmari" target="_blank">Loja Rosmari</a></h4>
        <div class="fb-like" data-href="http://rosmari.com.br" data-send="true" data-show-faces="true" style="padding-bottom: 20px;"></div>
    </div>
    <div class="span3">
        <h3>Fale Conosco</h3>
        <p>Endereço: Rua Santos Dumont, 562- Santo Ângelo/RS <a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=R.+Santos+Dumont,+1000+-+Santo+%C3%82ngelo+-+RS,+Brasil&amp;aq=&amp;sll=-28.283928,-54.260659&amp;sspn=0.007379,0.013808&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Santos+Dumont,+1000+-+Santo+%C3%82ngelo+-+Rio+Grande+do+Sul,+98803-310,+Brasil&amp;ll=-28.283928,-54.260659&amp;spn=0.007379,0.013808&amp;t=m&amp;z=14" target="_blank">Ver no mapa</a></p>
        <p>Fone: (55) 3313-1223 / (55) 9103-6950</p>
        <p>MSN: rosmari_santoangelo@hotmail.com</p></br></br>
    </div>
{% endblock %}

<!-- Galeria ---- ------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------------->

{% block galeria %}
    <span id="galeria"></span>
    <h1 style="padding-top: 25px;padding-left: 3px;border-bottom: 3px solid #373737">Galeria de Fotos</h1>
    <h3>Álbuns</h3>
    <ul class="thumbnails">
        {% paginate 4 albuns using "albuns" %}
        {% for album in albuns %}
            <li class="span3">
                <a href="{{ album.cover }}" class="thumbnail" rel="lightbox[{{ album }}]">
                    <img src="{{ album.cover }}" alt="">
                </a>

                {% for photo in album.photos %}
                    <a href="{{ photo.original.url }}" title="{{ photo.title }}" rel="lightbox[{{ album }}]">                    </a>
                {% endfor %}

                <h6 style="text-align: center;">{{ album }}</h6>
            </li>
        {% empty %}
            <p> Não há Álbuns.</p>
        {% endfor %}
    </ul>
    <div class="pager">
        {% show_pages %}
    </div>
{% endblock galeria %}

<!-- Sobre -------------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------------->
{% block about %}
    <span id="about"></span>
    <h1 style="padding-top: 25px;padding-left: 3px;border-bottom: 3px solid #373737">Sobre</h1></br>
    {% for about in about %}
        {{ about.about|safe }}
    {% endfor %}
    <h3>Deixe seu comentário sobre a loja Rosmari</h3>
    <div class="fb-comments" data-href="http://rosmari.com.br" data-num-posts="4" data-width="450" style="border-top: 1px solid gray;"></div>

{% endblock %}

<!-- Contato -----------------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------------->
{% block contact %}
    <span id="contact"></span>
    <h1 style="padding-top: 25px;padding-left: 3px;border-bottom: 3px solid #373737">Contato</h1></br>

    {% for contact in contacts %}
        <!-- Telefone -->
        {% if contact.kind == 'P' %}
            <h4>Telefone: <h5>{{ contact.value }}</h5></h4>
            <p><a href="{{ contact.url }}">{{ contact.url }}</a></p>
        {% endif %}
        <!-- Endereço -->
        {% if contact.kind == 'A' %}
            <h4>Endereço: <h5>{{ contact.value }}</h5></h4>
            <p><a href="{{ contact.url }}" target="_blank">{{ contact.url }}</a></p>
        {% endif %}
        <!-- Outro -->
        {% if contact.kind == 'O' %}
            <h4>Outros Contatos: <h5>{{ contact.value }}</h5></h4>
            <p><a href="{{ contact.url }}" target="_blank">{{ contact.url }}</a></p>
        {% endif %}
    {% endfor %}
    <h2>Rosmari na Internet?</h2>
    {% for contact in contacts %}
        <!-- E-mail -->
        {% if contact.kind == 'E' %}
            <h4>E-mail: <h5>{{ contact.value }}</h5></h4>
            <p><a href="{{ contact.url }}">{{ contact.url }}</a></p>
        {% endif %}
        <!-- Facebook -->
        {% if contact.kind == 'F' %}
            <h4>Facebook: <h5>{{ contact.value }}</h5></h4>
            <p><a href="{{ contact.url }}" target="_blank">{{ contact.url }}</a></p>
        {% endif %}
        <!-- Skype -->
        {% if contact.kind == 'S' %}
            <h4>Skype: <h5>{{ contact.value }}</h5></h4>
            <p><a href="{{ contact.url }}" target="_blank">{{ contact.url }}</a></p>
        {% endif %}
        <!-- Twitter -->
        {% if contact.kind == 'T' %}
            <h4>Twitter: <h5>{{ contact.value }}</h5></h4>
            <p><a href="{{ contact.url }}" target="_blank">{{ contact.url }}</a></p>
        {% endif %}
        <!-- MSN -->
        {% if contact.kind == 'M' %}
            <h4>MSN: <h5>{{ contact.value }}</h5></h4>
            <p><a href="{{ contact.url }}" target="_blank">{{ contact.url }}</a></p>
        {% endif %}
    {% endfor %}
    <h2>Onde Estamos?</h2>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=R.+Santos+Dumont,+1000+-+Santo+%C3%82ngelo+-+RS,+Brasil&amp;aq=&amp;sll=-28.283928,-54.260659&amp;sspn=0.007379,0.013808&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Santos+Dumont,+1000+-+Santo+%C3%82ngelo+-+Rio+Grande+do+Sul,+98803-310,+Brasil&amp;t=m&amp;ll=-28.283928,-54.260659&amp;spn=0.003557,0.006904&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=R.+Santos+Dumont,+1000+-+Santo+%C3%82ngelo+-+RS,+Brasil&amp;aq=&amp;sll=-28.283928,-54.260659&amp;sspn=0.007379,0.013808&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Santos+Dumont,+1000+-+Santo+%C3%82ngelo+-+Rio+Grande+do+Sul,+98803-310,+Brasil&amp;t=m&amp;ll=-28.283928,-54.260659&amp;spn=0.003557,0.006904&amp;z=14" target="_blank">Exibir mapa ampliado</a></small></br></br>
    <h2>Mande uma mensagem para nós!</h2>

    <!-- Form Contato --------------------------------------------------------------------------------------------------
    -------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------------------------------->
    <form class="form-vertical" method="post" action="">
	{% csrf_token %}
    {% for field in form %}
		<div class="control-group {% if field.errors %} error {% endif %}">
			<div class="control-label">
				{{ field.label_tag }}
			</div>
			<div class="controls">
				{{ field }}
				{% if field.errors %}
				<span class="help-inline">{{ field.errors|join:", " }}</span>
				{% endif %} 
				{% if field.help_text %}
					<p class="help-block">{{ field.help_text }}</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	<button class="btn btn-primary" type="submit">
            Enviar!
    </button>
    </form>
    
{% endblock contact %}


